<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="MyCon" connectionString="Data Source=(local)\SQL2017;Initial Catalog=Shop1;;Integrated Security=True "
   providerName="System.Data.SqlClient" />
  <add name="WindowsFormsApp2.Properties.Settings.Shop1ConnectionString"
   connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=Shop1;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>